.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}

.clearfix:after{
  clear:both;
}

.floats {
    float: left;
}

.floats-right {
	float: right;
}

.top-pusher {
    padding-top: 150px;
}

body { 
	font-size: 100%;
	line-height: 1.25em;
	font-family: helvetica, arial, sans-serif;
    /*overflow: hidden;*/
	color: #fff;
}

.centralise {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

header {
    background-color: #045288;
    height: 92px;
/*    position: fixed;
    top: 0;
    left: 0*/;
    width: 100%;
    /*z-index: 100;*/
    border-bottom: 5px solid #3181BA;

}

header h2 {
    display: inline-block;
    font-size: 1.7em;
    margin: 14px 0 0 100px;
    line-height: 1.2em;
}

main, aside {
    display: inline-block;
    padding: 10px 0;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #045288;
    padding: 15px 0;

}

#mainLogo {
    display: inline-block;
    width: 172px;
    height: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-box {
    /*background-color: pink;*/
}

main {
    display: inline-block;
    width: 46%;
    color: black;
    /*margin-top: 120px;*/
}

.kicker {
    color: #045288;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 1.6em;
}

ul {
    display: inline-block;
    list-style-position: outside;
    list-style: disc;
    width: 46%;
    padding-right: 20px;    
}

li {
    margin: 13px;
}

aside {
    display: inline-block;
    width: 32%;
    /*margin-top: 120px;*/
    margin-left: 10%;
    color: black;
}

aside h3 {
    font-size: 1.7em;
    text-align: center;
    padding: 10px 0;
}

aside h4 {
    font-size: 1.4em;
    text-align: center;
    padding: 15px 0;
}

p {
    padding: 10px 0;
    font-size: 1em;
    line-height: 1.4em;
}

.responsive_vids iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.responsive_vids {
    /*display: inline-block;*/
    /*border-right: solid 3px black;*/
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 30px;*/
    height: 0;
    overflow: hidden;
}

footer p {
    width: 90%
}

footer a:link {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer a:visited {
    color: white;
    text-decoration: none;
}

cite {
    text-align: center;
    font-size: 0.8em;
    font-weight: lighter;
}