/* ---===== Structure helping =====--- */

html {
    overflow-y: scroll; 
}

.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}

.clearfix:after{
  clear:both;
}

.floats {
    float: left;
}

.floats-right {
	float: right;
}

.centralise {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* ---===== Customised Layout =====--- */

body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: 'Oxygen', sans-serif;
    overflow: hidden;
	color: #464646;
    background-color:  #003154;
    /*overflow-x: hidden;*/
}

#container {
    width: auto;
}

#pageOne {
	background-image:url(https://s3-eu-west-1.amazonaws.com/fuse-public-assets/Public+assets/UNHCR/backgrounds/desktop.jpg); 
    background-size:cover;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:0px;
    top:0px;
    z-index: 1;
    background-position:center; /* IE fix */
}

header {
	background-color: #045288;
    height: 92px;
    width: 100%;
	position: relative;
	left: 0;
	top: 0;
	z-index: 7;
}

.secondary-nav {
    position: absolute;
    top: 20px;
    left: 5%;
    display: inline-block;
    height: 30px;
    width: 300px;
}

.secondary-nav li {
    display: inline-block;
    /*position: relative;*/
    font-size: 1em;
    font-weight: bold;
    padding: 3px 10px;
}

.secondary-nav li a {
    color: #fff;
    text-decoration: none;
}

#mainLogo {
    position: absolute;
    top: 0px;
    left: 43%;
    z-index: 4;
    display: block;
    width: 172px;
    height: 52px;
    padding-top: 20px;
    margin-bottom: 20px;
    margin: 0 auto;
    /*padding-right: 40px;*/
}

#menuIcon {
    cursor: pointer;
    position: relative;
    z-index: 5;
    display: none;
    width: 25px;
    height: 20px;
    padding: 6px;
    padding: 30px;
    cursor: pointer;

    clear: both;
}

.bars {
    height: 4px;
    margin-bottom: 5px;
    background-color: white;
}

nav {
    opacity: 0;
	position: fixed;
    left: 0;
    top: 0;
    z-index: -3;
    width: 60%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #003154;
    background: -moz-linear-gradient(top, #003154 0%, #002744 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #003154), color-stop(100%, #002744));
    background: -webkit-linear-gradient(top, #003154 0%, #002744 100%);
    background: -o-linear-gradient(top, #003154 0%, #002744 100%);
    background: -ms-linear-gradient(top, #003154 0%, #002744 100%);
    background: linear-gradient(to bottom, #003154 0%, #002744 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003154', endColorstr='#002744', GradientType=0);
}

/*---==== Styling the navidation menu ====---*/

nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

nav li {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #00213a;
    border-top: 1px solid #002d4e;
    padding: 15px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

/*---=====================================---*/

 /*
 The Layer that will be layed over the content
 so that the content is unclickable while menu is shown
 */

#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    z-index: 5;
    /*min-height: 1062px;*/
}


section {
	/*margin-top: 92px;*/
	background-color: #3181BA;
	height: 35px;
    -webkit-box-shodow: 0px 3px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.4);
}
/*---==== This applies to the bing logo ====---*/
#LauncherLogoImage {
    display: none !important;
}
/*---=======================================---*/

.headline {
	display: inline-block;
	margin-top: 30px;
	font-family: 'Coming Soon', cursive;
    font-size: 2.2em;
    text-transform: uppercase;
    line-height: 1.2em;
}

aside {
    padding: 10px 20px;
	margin-top: 30px;
	float: right;
	display: inline-block;
	height: 200px;
	width: 310px;
	background-color: rgba(255,255,255,0.4);
}

aside p {
    font-size: 0.9em;
}

aside a:link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

aside a:hover {
    color: #045288;
    text-decoration: none;
    font-weight: bold;
}

aside a:visited {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

footer {
    width: 220px;
    height: 100px;
    margin: 0 auto;
}

.nextPage {
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 220px;
    cursor: pointer;
}

/* ---===== Page two specifically =====--- */

#pageTwo {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 30px;
    background-color: deepskyblue;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:0px;
    top:0px;
    z-index: 0;
    text-align: center;
    background-position:center; /* IE fix */ 
}

.page-title {
    padding: 10px;
    font-size: 2.8em;
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: bolder;
}

.kickerContent {
    margin: 0 auto;
    width: 73%;
}

.kickerContent p>span {
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.2em;
}

.kickerContent p {
    margin: 20px 0;
    font-size: 1.2em;
}

.imageArea {
    width: 95%;
    margin: 50px auto;
    color: black;
}

.imageArea h4 {
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2em;
}

.imageArea p {
    display: inline-block;
    font-size: 0.85em;
    line-height: 1.3em;
    padding: 10px;
}

.box {
    display: inline-block;
    position: relative;
    background-color: white;
    width: 20%;
    height: 380px;
}

.aboutButton {
    display: block;
    margin: 20px auto;
    height: 35px;
    line-height: 35px;
    width: 110px;
    background-color: #045288;
    color: white;
}

.middle-left {
    margin: 0 3%;
}

.middle-right {
    margin-right: 3%;
}

.onlineImagebox {

    display: block;
    height: 150px;
    width: 100%;
    border-bottom: solid 3px #045288;
    /*background-image: url(images/Onlinecourses.jpg);*/
    background-size: cover;
}

.resourceImagebox {

    display: block;
    height: 150px;
    width: 100%;
    border-bottom: solid 3px #045288;
    /*background-image: url(images/ressourcelibrary.jpg);*/
    background-size: cover;
}

.onlineImagebox {

    display: block;
    height: 150px;
    width: 100%;
    border-bottom: solid 3px #045288;
    /*background-image: url(images/Onlinecourses.jpg);*/
    background-size: cover;
}

.onlineImagebox {

    display: block;
    height: 150px;
    width: 100%;
    border-bottom: solid 3px #045288;
    /*background-image: url(images/Onlinecourses.jpg);*/
    background-size: cover;
}

.footnote {
    width: 70%;
    font-size: 1.2em;
}

.footnote h3 {
    margin-top: 20px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.2em;
}

/* ---===== Fuse defualt css =====--- */

.button {
    float: right;
    margin-top: 7px;
    /*border-radius: 5px;*/
    background: #3181BA;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    border: none;
    padding: 8px 10px 5px;
    font-weight: bold;
    width: 100px;
}

.l-top {
    height: 115px;
    background: #fff;
}

.l-top .h-top {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.l-top h1.logo {
    background: url(https://s3-eu-west-1.amazonaws.com/fuse-public-assets/Public+assets/amex/GBT_logo.png) no-repeat left center;
    text-indent: -99999px;
    width: 275px;
    height: 50px;
}
.l-top .input {
    display: inline;
}
.l-top .b-logo {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
}
.l-top .b-login-form {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
}

.b-simple-form {
    margin: 10px 0;
    width: 310px;
}
.b-simple-form .columns {
    zoom: 1;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    /* Hides from IE5/Mac \*/
    /* End hide from IE5/Mac */
    margin-bottom: 1em;
}
.b-simple-form .columns:before, .b-simple-form .columns:after {
    content: "";
    display: table;
}
.b-simple-form .columns:after {
    clear: both;
}
.b-simple-form .columns {
    *display: inline;
}
* html .b-simple-form .columns {
    height: 1px;
}
.b-simple-form .columns {
    display: block;
}
.b-simple-form .col1 {
    float: left;
    width: 360px;
}
.b-simple-form .col2 {
    float: right;
    width: 360px;
}
.b-simple-form fieldset {
    border: 1px solid #d5d5d5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 20px 15px;
    margin-bottom: 20px;
}
.b-simple-form legend {
    color: #888;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
.b-simple-form textarea {
    line-height: 18px;
}
.b-simple-form .input {
    margin-bottom: 15px;
}
.b-simple-form .actions {
    text-align: right;
}
.b-simple-form .boolean input, .b-simple-form .boolean label {
    vertical-align: middle;
}
.b-simple-form .boolean input {
    margin-left: 1px;
}
.b-simple-form .boolean label {
    padding-top: 1px;
}
.b-simple-form div.file,
.b-simple-form div.password,
.b-simple-form div.string,
.b-simple-form div.email,
.b-simple-form div.text,
.b-simple-form div.boolean {
    margin: 5px 0;
}
.b-simple-form .file:disabled,
.b-simple-form .password:disabled,
.b-simple-form .string:disabled,
.b-simple-form .email:disabled,
.b-simple-form .text:disabled {
    color: #ccc;
}
.b-simple-form .file label,
.b-simple-form .password label,
.b-simple-form .string label,
.b-simple-form .email label,
.b-simple-form .text label {
    display: block;
    margin-bottom: 0.4em;
}
.b-simple-form .radio label.radio {
    display: block;
    margin-bottom: 0.4em;
}
.b-simple-form .radio span label {
    margin-right: 1em;
    padding-left: 0.2em;
}
.b-simple-form .password input,
.b-simple-form .password textarea,
.b-simple-form .string input,
.b-simple-form .string textarea,
.b-simple-form .email input,
.b-simple-form .email textarea,
.b-simple-form .text input,
.b-simple-form .text textarea {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #f2f2f2, #ffffff);
    background: -moz-linear-gradient(top, #f2f2f2, #ffffff);
    background: -o-linear-gradient(top, #f2f2f2, #ffffff);
    background: -ms-linear-gradient(top, #f2f2f2, #ffffff);
    background: linear-gradient(top, #f2f2f2, #ffffff);
    border: 1px solid #cfcfcf;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px;
    -o-box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px;
    font-size: 14px;
    outline: none;
    padding: 10px;
    width: 296px;
}
.b-simple-form .password input:focus,
.b-simple-form .password textarea:focus,
.b-simple-form .string input:focus,
.b-simple-form .string textarea:focus,
.b-simple-form .email input:focus,
.b-simple-form .email textarea:focus,
.b-simple-form .text input:focus,
.b-simple-form .text textarea:focus {
    background: #fbfee9;
}
.b-simple-form .password textarea,
.b-simple-form .string textarea,
.b-simple-form .email textarea,
.b-simple-form .text textarea {
    height: 8em;
}
.b-simple-form label {
    cursor: pointer;
}
.b-simple-form .login-input input, .b-simple-form .email-address-input input {
    width: 295px;
    padding: 7px;
}
.b-simple-form div.login-input {
    width: 300px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    margin-right: 7px;
}
.b-simple-form div.login-input {
    *display: inline;
}
.b-simple-form .login-input, .b-simple-form .button {
    vertical-align: middle;
}
.b-simple-form .button {
    cursor: pointer;
}
.b-simple-form .email-address-input {
    zoom: 1;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    /* Hides from IE5/Mac \*/
    /* End hide from IE5/Mac */
}
.b-simple-form .email-address-input:before, .b-simple-form .email-address-input:after {
    content: "";
    display: table;
}
.b-simple-form .email-address-input:after {
    clear: both;
}
.b-simple-form .email-address-input {
    *display: inline;
}
* html .b-simple-form .email-address-input {
    height: 1px;
}
.b-simple-form .email-address-input {
    display: block;
}
.b-simple-form .email-address-input label, .b-simple-form .email-address-input input {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    margin-right: 15px;
}
.b-simple-form .email-address-input label, .b-simple-form .email-address-input input {
    *display: inline;
}
.b-simple-form .email-address-input label {
    padding-top: 5px;
}
.b-simple-form .reset-password-button {
    zoom: 1;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    /* Hides from IE5/Mac \*/
    /* End hide from IE5/Mac */
}
.b-simple-form .reset-password-button:before, .b-simple-form .reset-password-button:after {
    content: "";
    display: table;
}
.b-simple-form .reset-password-button:after {
    clear: both;
}
.b-simple-form .reset-password-button {
    *display: inline;
}
* html .b-simple-form .reset-password-button {
    height: 1px;
}
.b-simple-form .reset-password-button {
    display: block;
}
.b-simple-form .reset-password-button input {
    float: left;
    margin-left: 93px;
    margin-top: 10px;
}

.login-form .input-with-label {
    width: 190px;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
}
.login-form .input-with-label {
    *display: inline;
}
.login-form .input-with-label input, .login-form .input-with-label label {
    vertical-align: middle;
}
.login-form .input-with-label label {
    padding-top: 1px;
    font-size: 0.75em;
}

.input-with-label input {
    margin: 0;
    padding: 0;
    margin-right: 5px;
@inclide inline-block;
    vertical-align: middle;
}

.login-form a {
    display: block;
    font-size: 0.75em;
    color: #464646;
    text-decoration: none;
}

.company-logo {
    position: relative;
    top: 15px;
}

.l-center {
    width: 100%;
    height: 540px;
    background: url(https://s3-eu-west-1.amazonaws.com/fuse-public-assets/Public+assets/amex/group-travelers.jpg) no-repeat center;
    color: #fff;
}
.l-center .h-center {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    border-top: 15px solid #002663;
}
.l-center .sample-image {
    position: absolute;
    top: -140px;
    height: 306px;
    background: url(/assets/sign-up/sample.png) no-repeat left center;
    width: 433px;
    height: 306px;
}
.l-center .b-description {
    position: relative;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
}
.l-center .b-description h4 {
    margin: 125px 10px 0;
}

.b-lists .h-list {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px;
}
.b-lists .h-list:first-child {
    margin-left: 0;
}
.b-lists .h-list:last-child {
    margin-right: 0;
}
.b-lists ul {
    margin: 5px 10px;
    padding: 0 25px;
    list-style-image: url(/assets/sign-up/arrows.png);
}
.b-lists ul li {
    margin: 10px 0;
}

.b-page-content {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 460px;
}

.l-bottom {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    color: #222;
}
.l-bottom .h-bottom {
    display: inline;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 940px;
}
.l-bottom h5 {
    margin: 10px 0;
}
.l-bottom h5 a {
    font-weight: normal;
    text-decoration: none;
    color: #222;
}

.b-page-content .input.string {
    margin: 10px 0;
}
.b-page-content .input.string input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    padding: 7px;
    width: 260px;
    -moz-box-shadow: inset 0 0 5px #ccc;
    -webkit-box-shadow: inset 0 0 5px #ccc;
    box-shadow: inset 0 0 5px #ccc;
}
.b-page-content .input.string label {
    display: inline-block;
    line-height: 1.2em;
    vertical-align: middle;
    width: 90px;
}
.b-page-content span.error {
    display: block;
    font-size: 10px;
    padding-left: 90px;
    color: #ff1820;
}
.b-page-content div.field_with_errors .input.string input {
    border: 1px solid #FF1820 !important;
}
.b-page-content div.field_with_errors .input.string {
    margin-top: 5px;
}
.b-page-content .actions {
    text-align: left;
}
.b-page-content .actions input#user_submit {
    margin-left: 90px;
    margin-top: 5px;
}

label.password[for="user_password"] {
  text-decoration: underline;
}

.b-password-requirements {
  background: #333333;
  padding: 5px;
}


/*----------------------------------------// MEDIA QUERY //---------------------------------------------*/

@media only screen and (max-width : 1124px) { /* ipad2 */

    .secondary-nav {
        display: none;
    }

    #menuIcon {
        display: block;
    }

    #pageOne {
        background-image:url(https://s3-eu-west-1.amazonaws.com/fuse-public-assets/Public+assets/UNHCR/backgrounds/ipad-landscape.jpg); 
    }

    .headline {
        display: inline-block;
        margin-top: 30px;
        font-size: 1.7em;
        line-height: 1.3em;
    }

    .nextPage {
        width: 180px;
    }

}

@media only screen and (max-width : 960px) {

    #pageOne {
        background-image:url(https://s3-eu-west-1.amazonaws.com/fuse-public-assets/Public+assets/UNHCR/backgrounds/ipad-portrait.jpg); 
    }

    .headline {
        display: inline-block;
        width: 100%;
        margin-top: 30px;
        font-size: 1.7em;
        line-height: 1.3em;
        text-align: center;
    }
    
    aside {
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
    }

    .nextPage {
        display: none;
    }


}
