.container { 
    max-width: 100%;
    margin: 0px auto;
    overflow: hidden;
    width: 100%;
}

.menu_container, .anchor-link { 
    display: none;
}

.menu_container { 
    width: 100%;
    border-bottom: 1px solid #000;
}

.anchor-link {
    padding: 1em;
    background-color: #48c9b0;
    color: #fff; 
    float: right;
}

.anchor-link:hover { 
    background-color: #ccc;
    color: #fff;
}

.nav { 
    width:100%;
    border-bottom: 1px solid #000;
}

.nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    text-align: left;
}

.nav ul li a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: #444;
}

.nav ul li a:hover {
    background-color: #ccc;
}

.main_content,
.nav {
    transition: .2s margin ease;
    display: block;
    position: relative;
}

.main_content {
    padding: 1.5em;
    position: relative;
    max-width: 70em;
    width: 100%;
    background-color: #f4f4f4;
    margin: 0 auto;
}

body.active .main_content:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #4e4e4e;
}

@media all and (max-width: 48.000em) {
    .menu_container,
    .anchor-link {
        display: block;
    }

    .nav {
        float: left;
        margin-left: -100%;
        width: 300px;
        z-index: 2;
    }

    .main_content {
        float: left;
        margin-left: 0;
        width: 100%;
    }

    body.active .nav {
        margin-left: 0;
    }

    body.active .main_content {
        margin-right: -100%;
    }

    .nav {
        padding: 0.6em 0;
        border: none;
        padding: 0;
    }

    .nav ul {
        text-align: left;
        font-weight: normal;
    }

    .nav ul li {
        display: block;
    }

    .nav ul li a {
        border-bottom: 1px solid #3E3E3E;
        border-top: 1px solid #717171;
        color: #ffffff;
        padding: 12px;
    }

    .nav ul li a:hover {
        background-color: #5C5C5C;
    }
}